@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #BDBDBD;
}

.username-github-link, .devchallengelink {
  color: #333;
}

.username-link:hover {
  color: black;
}

.devchallenges-link:hover {
  color: #f7542e;
}