@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

header {
  width: 180px;
  margin-left: 240px;
  color: #4E5150;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
  margin:20px auto;
}

form {
  position: relative;
}

form p {
  font-size: 18px;
}

.form-info {
  margin: 30px 0;
  position: relative;
}

.icon {
  position: absolute;
  top: 30px;
  left:5px;
  color: #828282;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #BDBDBD;
}

.username-github-link, .devchallengelink {
  color: #333;
}

.username-link:hover {
  color: black;
}

.devchallenges-link:hover {
  color: #f7542e;
}